/* header */
header .header-top {
  background-color: #303030;
  font-family: 'Roboto', sans-serif; }
  header .header-top .header-info {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .header-top .header-info .header-social {
      font-family: 'Roboto', sans-serif; }
      header .header-top .header-info .header-social a {
        color: #cbcacb; }
      header .header-top .header-info .header-social .header-phone {
        padding-right: 30px; }
      header .header-top .header-info .header-social svg {
        margin-right: 5px;
        color: #ffc222;
        padding-top: 0;
        font-size: 25px;
        height: 14px; }
    header .header-top .header-info .header-btn .btn {
      color: #1b1b1b;
      background-color: #ffc222;
      padding: 10px 20px; }
      header .header-top .header-info .header-btn .btn svg {
        color: #1b1b1b;
        padding-right: 5px;
        padding-top: 0;
        font-size: 25px;
        height: 14px; }
header .navbar {
  font-family: 'PT Serif', serif;
  margin: 0; }
  header .navbar .navbar-container {
    display: flex;
    justify-content: space-between;
    margin: 23px 0; }
    header .navbar .navbar-container .header-logo {
      display: flex;
      align-items: center; }
    header .navbar .navbar-container .menu-icon {
      display: none;
      font-size: 28px; }
    header .navbar .navbar-container .nav-menu .nav-item {
      display: inline-block; }
      header .navbar .navbar-container .nav-menu .nav-item .nav-links {
        font-size: 16px;
        color: #323232;
        border: 1px solid transparent;
        padding: 10px 15px;
        transition: all .3s;
        /*&:not(.header-logo):active,*/ }
        header .navbar .navbar-container .nav-menu .nav-item .nav-links:not(.header-logo):hover {
          border-color: #ffc222; }
        header .navbar .navbar-container .nav-menu .nav-item .nav-links.active {
          border-color: #ffc222; }
    header .navbar .navbar-container .nav-menu li + li {
      padding-left: 10px; }

/* container */
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px; }

/* section Carousel */
.carousel {
  width: 100%;
  background-image: url("../../images/slider-fon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto; }
  .carousel .carousel-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin: 0 auto; }
    .carousel .carousel-slide .slick-slider .slick-arrow {
      background-color: #ffc222; }
      .carousel .carousel-slide .slick-slider .slick-arrow.slick-prev {
        left: 0; }
        .carousel .carousel-slide .slick-slider .slick-arrow.slick-prev:before {
          content: ''; }
        .carousel .carousel-slide .slick-slider .slick-arrow.slick-prev.slick-disabled, .carousel .carousel-slide .slick-slider .slick-arrow.slick-prev .slick-disabled {
          opacity: 1;
          background-color: transparent;
          border: 1px solid #fff; }
      .carousel .carousel-slide .slick-slider .slick-arrow.slick-next {
        right: 0; }
        .carousel .carousel-slide .slick-slider .slick-arrow.slick-next:before {
          content: ''; }
        .carousel .carousel-slide .slick-slider .slick-arrow.slick-next.slick-disabled {
          opacity: 1;
          background-color: transparent;
          border: 1px solid #fff; }
    .carousel .carousel-slide .carousel-item {
      margin: 21vh auto;
      display: flex !important;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center; }
      .carousel .carousel-slide .carousel-item .carousel-title {
        margin-bottom: 22px; }
        .carousel .carousel-slide .carousel-item .carousel-title h1 {
          text-transform: uppercase;
          line-height: 1;
          margin: 0 auto;
          color: #fff;
          font-weight: 500;
          letter-spacing: 1.5px;
          font-family: 'Roboto', sans-serif; }
      .carousel .carousel-slide .carousel-item .carousel-text {
        margin-bottom: 50px;
        padding: 0 15%; }
        .carousel .carousel-slide .carousel-item .carousel-text p {
          line-height: 1.5;
          font-size: 18px;
          color: #fff; }
      .carousel .carousel-slide .carousel-item .item-btn {
        font-size: 14px;
        color: #fff;
        background-color: transparent;
        font-weight: 500;
        padding: 8px 30px 8px 20px;
        border: 1px solid #ffc222;
        border-right-width: 20px;
        z-index: 12;
        position: relative;
        font-family: 'Roboto', sans-serif; }
        .carousel .carousel-slide .carousel-item .item-btn svg {
          top: 50%;
          transform: translateY(-50%);
          left: 102%;
          position: absolute; }

/* section Service */
.service {
  margin: 40px 0; }
  .service .service-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px; }
    .service .service-top .service-content {
      display: flex;
      max-width: 520px; }
      .service .service-top .service-content svg {
        padding-right: 105px;
        margin: 8px 25px 0 0;
        background-color: #ffc222;
        height: 2px; }
      .service .service-top .service-content .service-section .service-title h2 {
        color: #212020;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        margin: 0 0 15px; }
    .service .service-top .service-button .button {
      color: #373636;
      font-family: 'Roboto', sans-serif;
      border: 3px solid #e6e6e6;
      padding: 5px 15px; }
  .service .service-items {
    display: flex;
    justify-content: space-between; }
    .service .service-items .service-item {
      max-width: 360px;
      width: 100%;
      min-height: 375px;
      text-align: center;
      position: relative;
      padding: 30px 0;
      background-color: #f9f9f9;
      box-shadow: 0 7px 24.3px 2.7px rgba(91, 89, 89, 0.14); }
      .service .service-items .service-item .service-img {
        margin-bottom: 25px;
        min-height: 54px; }
      .service .service-items .service-item .service-item-title {
        padding-bottom: 30px;
        width: 90%;
        margin: 0 auto;
        text-align: center; }
        .service .service-items .service-item .service-item-title h4 {
          text-align: center; }
      .service .service-items .service-item .service-text {
        margin: 0 30px 30px; }
        .service .service-items .service-item .service-text p {
          text-align: center; }
      .service .service-items .service-item .service-item-button {
        position: absolute;
        bottom: 40px;
        left: 0;
        right: 0; }
        .service .service-items .service-item .service-item-button .service-left {
          color: #5e5e5e;
          font-family: 'Roboto', sans-serif;
          border-bottom: 1px solid #050505; }
        .service .service-items .service-item .service-item-button .service-item-btn {
          font-size: 14px;
          color: #373636;
          background-color: transparent;
          font-weight: 500;
          padding: 8px 30px 8px 20px;
          border: 1px solid #ffc222;
          border-right-width: 20px;
          margin-left: 60px;
          z-index: 12;
          position: relative;
          font-family: 'Roboto', sans-serif; }
          .service .service-items .service-item .service-item-button .service-item-btn svg {
            top: 50%;
            transform: translateY(-50%);
            left: 102%;
            position: absolute; }

/* section About */
.about {
  width: 100%;
  background-image: url("../../images/about-compani.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .about .about-content {
    display: inline-block;
    margin: 0 auto 30px;
    max-width: 80%; }
    .about .about-content .about-title {
      margin-bottom: 30px; }
      .about .about-content .about-title h2 {
        color: #fff;
        font-weight: 500;
        font-family: 'Roboto', sans-serif; }
    .about .about-content .about-text {
      margin-bottom: 35px; }
      .about .about-content .about-text p {
        line-height: 1.5;
        color: #d3d2d2; }
    .about .about-content .about-btn .about-item-btn {
      font-size: 14px;
      color: #fff;
      background-color: transparent;
      font-weight: 500;
      padding: 12px 25px;
      border: 1px solid #ffc222;
      border-right-width: 20px;
      z-index: 12;
      position: relative;
      font-family: 'Roboto', sans-serif; }
      .about .about-content .about-btn .about-item-btn svg {
        top: 50%;
        transform: translateY(-50%);
        left: 102%;
        position: absolute; }

/* section Advice */
.advice {
  margin-top: 40px; }
  .advice .container {
    min-height: 460px;
    background-image: url("../../images/person-girl.png");
    background-repeat: no-repeat;
    background-position: right bottom; }
    .advice .container .advice-top {
      display: flex;
      max-width: 540px;
      position: relative;
      margin-bottom: 20px; }
      .advice .container .advice-top svg {
        padding-right: 105px;
        margin: 8px 25px 0 0;
        background-color: #ffc222;
        height: 2px; }
      .advice .container .advice-top .advice-section .advice-title h2 {
        color: #212020;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        margin: 0 0 15px; }
    .advice .container .advice-form {
      max-width: 850px;
      margin-bottom: 40px; }

/* section Advantage */
.advantages {
  background-image: url("../../images/advantage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 285px;
  padding: 55px 0 15px; }
  .advantages .advantages-section {
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: #fff; }
    .advantages .advantages-section .advantages-item {
      max-width: 350px;
      padding: 0 10px; }
      .advantages .advantages-section .advantages-item .advantages-icon {
        border: 2px solid #ffc222;
        position: relative;
        width: 40px;
        height: 40px;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 20px; }
        .advantages .advantages-section .advantages-item .advantages-icon svg {
          font-size: 14px;
          color: #fff;
          top: 30%;
          left: 50%;
          transform: translateX(-50%);
          position: absolute; }
      .advantages .advantages-section .advantages-item .advantages-title {
        margin-bottom: 20px; }
        .advantages .advantages-section .advantages-item .advantages-title h3 {
          line-height: normal; }
      .advantages .advantages-section .advantages-item .advantages-text p {
        line-height: 2; }

/*section News*/
.news {
  margin: 60px 0 100px; }
  .news .news-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px; }
    .news .news-top .news-content {
      display: flex;
      max-width: 520px; }
      .news .news-top .news-content svg {
        padding-right: 105px;
        margin: 8px 25px 0 0;
        background-color: #ffc222;
        height: 2px; }
      .news .news-top .news-content .news-section .news-title h2 {
        color: #212020;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        margin: 0 0 15px; }
    .news .news-top .news-button .button {
      color: #373636;
      font-family: 'Roboto', sans-serif;
      border: 3px solid #e6e6e6;
      padding: 5px 15px; }
  .news .news-info {
    display: flex;
    justify-content: space-between; }
    .news .news-info .news-slider {
      max-width: 540px;
      width: 100%;
      position: relative; }
      .news .news-info .news-slider .news-svg {
        width: 65px;
        height: 30px;
        top: -5px;
        left: 70px;
        background-color: #fec025;
        position: absolute; }
        .news .news-info .news-slider .news-svg svg {
          font-size: 16px;
          color: #fff;
          top: 25%;
          left: 25px;
          position: absolute; }
      .news .news-info .news-slider .news-desk {
        box-shadow: 0 5px 15.36px 0.64px rgba(128, 127, 127, 0.65);
        padding: 70px 40px 45px 70px; }
        .news .news-info .news-slider .news-desk .slick-slider .slick-arrow {
          top: 135%;
          background-color: #ffc222; }
          .news .news-info .news-slider .news-desk .slick-slider .slick-arrow.slick-prev {
            left: 85%; }
            .news .news-info .news-slider .news-desk .slick-slider .slick-arrow.slick-prev:before {
              content: ''; }
            .news .news-info .news-slider .news-desk .slick-slider .slick-arrow.slick-prev.slick-disabled, .news .news-info .news-slider .news-desk .slick-slider .slick-arrow.slick-prev .slick-disabled {
              opacity: 1;
              background-color: transparent;
              border: 1px solid #fff; }
          .news .news-info .news-slider .news-desk .slick-slider .slick-arrow.slick-next {
            right: -40px; }
            .news .news-info .news-slider .news-desk .slick-slider .slick-arrow.slick-next:before {
              content: ''; }
            .news .news-info .news-slider .news-desk .slick-slider .slick-arrow.slick-next.slick-disabled {
              opacity: 1;
              background-color: transparent;
              border: 1px solid #fff; }
        .news .news-info .news-slider .news-desk .news-item .news-title {
          margin-bottom: 20px; }
          .news .news-info .news-slider .news-desk .news-item .news-title h4 {
            color: #212121;
            letter-spacing: .5px; }
        .news .news-info .news-slider .news-desk .news-item .news-text {
          margin-bottom: 40px; }
        .news .news-info .news-slider .news-desk .news-item .news-author p {
          color: #212020; }
    .news .news-info .news-blog {
      max-width: 260px; }
      .news .news-info .news-blog .news-blog-img {
        position: relative; }
        .news .news-info .news-blog .news-blog-img img {
          max-width: 260px; }
        .news .news-info .news-blog .news-blog-img .news-date {
          color: #fff;
          font-weight: 700;
          position: absolute;
          top: -2px;
          left: 8px;
          background-color: #ffc222;
          width: 46px;
          height: 54px;
          padding: 30px 0;
          text-align: center; }
      .news .news-info .news-blog .news-blog-title {
        margin: 15px auto; }
        .news .news-info .news-blog .news-blog-title h4 {
          color: #242424;
          font-family: 'Roboto', sans-serif;
          font-weight: 500; }
      .news .news-info .news-blog .news-blog-text {
        color: #5e5e5e; }

/* section footer */
footer .footer-top {
  background-color: #595959; }
  footer .footer-top .footer-section {
    display: flex;
    justify-content: space-between; }
    footer .footer-top .footer-section .footer-contact {
      max-width: 360px;
      margin-top: 25px; }
      footer .footer-top .footer-section .footer-contact .footer-title {
        padding-bottom: 20px; }
        footer .footer-top .footer-section .footer-contact .footer-title h4 {
          color: #fff;
          font-weight: 500;
          font-family: Roboto,sans-serif; }
      footer .footer-top .footer-section .footer-contact .footer-text {
        color: #d3d2d2;
        font-family: Roboto,sans-serif;
        margin-bottom: 30px; }
      footer .footer-top .footer-section .footer-contact .footer-btn {
        margin-bottom: 20px; }
        footer .footer-top .footer-section .footer-contact .footer-btn .btn {
          height: 40px;
          color: #1b1b1b;
          background-color: #ffc222;
          padding: 5px 20px 4px; }
          footer .footer-top .footer-section .footer-contact .footer-btn .btn svg {
            color: #1c1c1c;
            padding-right: 5px;
            padding-top: 0;
            font-size: 25px;
            height: 14px; }
      footer .footer-top .footer-section .footer-contact .footer-social {
        max-width: 240px;
        margin-bottom: 25px; }
        footer .footer-top .footer-section .footer-contact .footer-social .footer-phone,
        footer .footer-top .footer-section .footer-contact .footer-social .footer-mail,
        footer .footer-top .footer-section .footer-contact .footer-social .footer-location {
          color: #cbcacb;
          line-height: 2;
          font-family: Roboto,sans-serif; }
          footer .footer-top .footer-section .footer-contact .footer-social .footer-phone svg,
          footer .footer-top .footer-section .footer-contact .footer-social .footer-mail svg,
          footer .footer-top .footer-section .footer-contact .footer-social .footer-location svg {
            color: #ffc222;
            margin-right: 15px; }
    footer .footer-top .footer-section .footer-map {
      margin: 30px auto;
      max-width: 630px;
      width: 100%; }
footer .footer-content {
  background-color: #303030;
  padding: 10px 0; }
  footer .footer-content .footer-copyright {
    font-size: 12px;
    color: #fff;
    text-align: center;
    font-family: Roboto,sans-serif; }

@media all and (max-width: 1024px) {
  .advice .container {
    background-image: none; }
    .advice .container .advice-top {
      max-width: none; }
    .advice .container .advice-form {
      max-width: none; }

  .news .news-info {
    display: block; }
    .news .news-info .news-slider {
      max-width: 100%;
      margin-bottom: 100px; }
      .news .news-info .news-slider .news-desk .slick-slider .slick-arrow.slick-prev {
        left: 42%;
        top: 16rem; }
      .news .news-info .news-slider .news-desk .slick-slider .slick-arrow.slick-next {
        right: 44%;
        top: 16rem; }
    .news .news-info .news-blog {
      display: block;
      max-width: 100%;
      min-height: 175px; }
      .news .news-info .news-blog .news-blog-img {
        float: left;
        margin-right: 25px; } }
@media all and (max-width: 768px) {
  header .header-top .header-info {
    flex-direction: column; }
    header .header-top .header-info .header-social {
      text-align: center;
      line-height: 3; }
    header .header-top .header-info .header-btn {
      text-align: center;
      display: grid;
      width: 100%; }
      header .header-top .header-info .header-btn svg {
        display: none; }
  header .navbar .navbar-container .menu-icon {
    display: block; }
  header .navbar .navbar-container .nav-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -300px;
    right: 4%;
    background-color: #262626;
    transition: top 0.8s cubic-bezier(1, 0, 0, 1);
    width: 92vw;
    text-align: center;
    z-index: 100; }
    header .navbar .navbar-container .nav-menu.active {
      top: 9rem; }
    header .navbar .navbar-container .nav-menu li + li {
      padding-left: 0; }
    header .navbar .navbar-container .nav-menu a {
      display: block;
      background-color: #FFC222;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff; }

  .carousel .carousel-slide .slick-slider .slick-arrow,
  .carousel .carousel-slide .slick-slider .slick-next {
    display: none !important; }
  .carousel .carousel-slide .slick-slider .carousel-item {
    margin: 27vh auto; }

  .service {
    margin-top: 30px; }
    .service .service-top {
      display: block;
      text-align: center; }
      .service .service-top .service-content {
        padding-left: 0;
        text-align: center;
        margin: 0 auto 30px; }
        .service .service-top .service-content svg {
          display: none; }
    .service .service-items {
      display: block; }
      .service .service-items .service-item {
        max-width: 80%;
        max-height: 330px;
        margin: 0 auto 30px; }

  .advice .advice-top {
    text-align: center;
    display: flex;
    justify-content: center; }
    .advice .advice-top svg {
      display: none; }
    .advice .advice-top .advice-section {
      max-width: 540px; }

  .advantages .advantages-section {
    display: block; }
    .advantages .advantages-section .advantages-item {
      max-width: 100%;
      margin-bottom: 40px; }

  .news {
    margin: 40px 0; }
    .news .news-top {
      display: block;
      text-align: center; }
      .news .news-top .news-content {
        padding-left: 0;
        text-align: center;
        margin: 0 auto 30px; }
        .news .news-top .news-content svg {
          display: none; }
    .news .news-info {
      display: block; }
      .news .news-info .news-slider .news-desk .slick-slider .slick-arrow.slick-prev,
      .news .news-info .news-slider .news-desk .slick-slider .slick-arrow.slick-next {
        top: 17rem; }
      .news .news-info .news-blog {
        display: block;
        max-width: 100%;
        min-height: 175px; }
        .news .news-info .news-blog .news-blog-img {
          float: left;
          margin-right: 25px; }

  footer .footer-top .footer-section {
    display: block; }
    footer .footer-top .footer-section .footer-contact {
      max-width: 100%;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      text-align: center; }
    footer .footer-top .footer-section .footer-map {
      max-width: 100%;
      margin: 0; } }
@media all and (max-width: 425px) {
  header .header-top .header-info .header-social {
    width: 80%; }
    header .header-top .header-info .header-social .header-phone {
      padding-right: 0; }
  header .header-top .header-info .header-btn .btn {
    display: flex;
    align-items: baseline;
    margin: 0 auto; }
    header .header-top .header-info .header-btn .btn svg {
      display: block; }
  header .navbar .navbar-container .nav-menu.active {
    top: 12rem; }

  .carousel .carousel-slide .slick-slider .carousel-item {
    margin: 20vh auto; }
    .carousel .carousel-slide .slick-slider .carousel-item .carousel-text {
      font-size: 16px; }

  .service .service-items .service-item .service-item-title {
    padding: 5px; }
  .service .service-items .service-item .service-text {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: scroll;
    padding-bottom: 30px;
    height: 120px; }
  .service .service-items .service-item .service-item-button {
    margin-top: 10px;
    position: relative;
    bottom: 20px; }
    .service .service-items .service-item .service-item-button .service-item-btn {
      margin-left: 20px; }

  .news {
    margin-bottom: 0; }
    .news .news-info .news-slider {
      margin-bottom: 50px; }
      .news .news-info .news-slider .news-svg {
        left: 40px; }
      .news .news-info .news-slider .news-desk {
        padding-left: 40px; }
        .news .news-info .news-slider .news-desk .slick-slider button {
          display: none !important; }
    .news .news-info .news-blog {
      text-align: center;
      margin-bottom: 40px; }
      .news .news-info .news-blog .news-blog-img {
        float: none;
        margin-right: 0;
        display: flex;
        justify-content: center; }
        .news .news-info .news-blog .news-blog-img .news-date {
          left: 85px; }
      .news .news-info .news-blog .news__title {
        margin: 5px auto; } }
.popup-container {
  width: 50vw; }
  .popup-container form {
    margin: 12% auto; }
    .popup-container form input {
      width: 85%;
      height: 40px;
      padding-left: 10px;
      border: 1px solid #D3D2D2;
      display: block;
      margin: 20px auto; }
    .popup-container form button {
      background-color: #FFCD21;
      padding: 10px;
      width: 85%;
      display: block;
      margin: 0 auto;
      border: none; }
      .popup-container form button:hover {
        cursor: pointer;
        background-color: #D3D2D2;
        transition: 0.5s; }

svg {
  cursor: pointer; }

.form {
  display: flex;
  justify-content: space-between;
  color: #282828;
  font-family: 'Roboto', sans-serif; }
  .form .form-left {
    max-width: 260px;
    width: 100%;
    margin-right: 30px; }
    .form .form-left label {
      display: inline-flex;
      padding-left: 10px;
      margin-top: 15px; }
    .form .form-left input {
      width: 100%;
      height: 40px;
      border: 1px solid #e6e6e6;
      padding: 10px; }
  .form .form-right {
    max-width: 555px;
    width: 100%; }
    .form .form-right label {
      padding-left: 10px;
      margin-top: 15px; }
    .form .form-right textarea {
      width: 100%;
      background-color: #fff;
      border: 1px solid #e6e6e6;
      resize: none;
      margin-bottom: 35px;
      min-height: 195px;
      padding: 10px; }
    .form .form-right .buttons {
      float: right; }
      .form .form-right .buttons .form-button {
        font-size: 14px;
        color: black;
        font-weight: 500;
        padding: 8px 30px 8px 20px;
        border: 1px solid #ffc222;
        border-right-width: 20px;
        background-color: transparent;
        z-index: 12;
        position: relative;
        font-family: 'Roboto', sans-serif; }
        .form .form-right .buttons .form-button svg {
          top: 50%;
          transform: translateY(-50%);
          left: 102%;
          position: absolute; }

@media all and (max-width: 768px) {
  .form {
    display: block;
    margin-bottom: 40px; }
    .form .form-left {
      max-width: 100%; }
    .form .form-right {
      max-width: 100%;
      margin-top: 15px; }
      .form .form-right .buttons {
        float: none;
        text-align: center; } }

/*# sourceMappingURL=style.css.map */
